.singletable {
    width: 310px;
    height: 70px;
    margin-left : 40px;
    margin-top: 10px;
    
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;

}
.doubletable {
    width: 310px;
    height: 70px;
    margin-left : 40px;
    margin-top: 10px;
    
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
}
.bartable {
    width: 310px;
    height: 70px;
    margin-left : 40px;
    margin-top: 10px;
    
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
}
.anything {
    width: 310px;
    height: 70px;
    margin-left : 40px;
    margin-top: 10px;
    
    background: #FFFFFF;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
}
.img_singletable {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.label_singletable {
    width: 183px;
    height: 28px;
    margin-left: 30px;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}