.img_singletable {
    width: 40px;
    height: 40px;
    margin: auto;
    
}
.img_doubletable1 {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-left: 15px;
}
.img_doubletable2 {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 21px;
    right: 14px;
}
.img_bartable {
    width: 40px;
    height: 40px;
    margin: auto;
}
.img_anything {
    width: 40px;
    height: 40px;
    margin: auto;
}